<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Service Discovery Demo</title>
  </head>
  <body>
      <div class="container-fluid">
        <h2><center>Service Discovery Demo</center></h2>
        <br><br>
        <div class="row">
            <div class="offset-md-6">
              <form method='get' action="/">
                <input class="btn-primary" type="submit" value="REFRESH"/>  
              </form>
            </div>
            <div class="offset-md-3">
                <br><br><hr>
                Worker Response - {{service.text}} <br>
                Service Name - {{service.name}} <br>
                Worker Node - <strong>{{service.addr}}:{{service.port}}</strong> <br>
                Total Nodes available - {{service.num_hosts}} <br> <hr>
                Available Service Discovery Instances - <br>
                {%for i in range(0,service.num_hosts)%}
                  <strong>{{i+1}}. </strong>{{service.service_instances[i]}} - {{service.service_nodes[i]}} <br>
                {%endfor%} 
            </div> 
        </div>
     </div>
  </body>
<html>